scikit-learn
pandas
numpy
imatplotlib.pyplot
seaborn
train_test_split
GridSearchCV
classification_report
accuracy_score,precision_score
recall_score
f1_score 
roc_auc_score, 
confusion_matrix
ConfusionMatrixDisplay
roc_curve 
auc
DecisionTreeClassifier
StackingClassifier
XGBClassifier
RandomForestClassifier
LogisticRegression
StandardScaler
tensorflow
Sequential
LSTM
Dense
Dropout
Adam
StandardScaler
joblib
streamlit
